body {
	background: #232323;
	margin: 0;
/*	font-family: "Avenir";*/
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: all 0.4s;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

.h1 {
	color: white;
	background: steelblue;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
/*	rajbsh bayd bkhunm */
	line-height: 1.1;
	padding: 20px 0;
	transition: all 0.4s;
}
/*
span {
	color: white;
}*/

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	background: steelblue;
	color: white;
}

#rgb {
	font-size: 200%;
}

button {
	border: none;
	background: none;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
/*	be dard bokhore in font size*/
	font-size: inherit;
	transition: all 0.4s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}

#message {
	display: inline-block;
	width: 20%;
}